@using Microsoft.AspNetCore.Identity
@{
    string userName = User.Identity.Name;
    string controller = Context.Request.Path.ToString();
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SAKnowledgeBase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SAKnowledgeBase.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/logo/favicon.ico" type="image/x-icon">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm sticky-top navbar-light bg-white border-bottom box-shadow mb-2">
            <div class="container-fluid">
                <div col-md- mt-2">
                    <img src="~/logo/logo.jpg" height="30" width="50" alt="icon" style="display: inline-block; vertical-align: middle; ">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SA/BA Knowledge Base</a>
                </div> 
                @if (controller.Contains("/Main"))
                {
                    <div class="col-md-4">
                        <form asp-controller="Main" asp-action="Index" method="get">
                            <div class="input-group">
                                <input name="searchFor" class="form-control" id="inputSearch" aria-describedby="inputSearchComment" aria-label="Search">
                                <button class="btn btn-outline-secondary" type="submit" id="inputSearch">Search</button>
                                <a class="btn btn-outline-primary" type="button" asp-controller="Main" asp-action="index">Reset Search</a>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2 mt-4">
                        <form>
                            Level:
                            <input type="radio" id="age1" name="age" value="1">
                            <label for="age1"> Low</label>
                            <input type="radio" id="age2" name="age" value="2" checked="CHECKED">
                            <label for="age2">Mid</label>
                            <input type="radio" id="age3" name="age" value="3">
                            <label for="age3">Hight</label>
                        </form>
                        <br />
                    </div>
                }
                else
                {
                    @if ((User.IsInRole("Manager")) || (User.IsInRole("Admin")))
                    {
                        <div class="col-md-4 my-2">
                            @if (controller.Contains("/Theme"))
                            {
                                <a class="nav-item px-3 fw-bold" asp-controller="Theme" asp-action="Index">Theme</a>
                            }
                            else
                            {
                                <a class="nav-item px-3" asp-controller="Theme" asp-action="Index">Theme</a>
                            }

                            @if (controller.Contains("/Question"))
                            {
                                <a class="nav-item px-3 fw-bold" asp-controller="Question" asp-action="Index">Question</a>
                            }
                            else
                            {
                                <a class="nav-item px-3" asp-controller="Question" asp-action="Index">Question</a>
                            }

                            @if (controller.Contains("/Info"))
                            {
                                <a class="nav-item px-3 fw-bold" asp-controller="Info" asp-action="Index">Info</a>
                            }
                            else
                            {
                                <a class="nav-item px-3" asp-controller="Info" asp-action="Index">Info</a>
                            }

                            @if (User.IsInRole("Admin"))
                            {
                                @if (controller.Contains("/AdminManagment"))
                                {
                                    <a class="nav-item px-3 fw-bold" asp-area="" asp-controller="AdminManagment" asp-action="Index">Users</a>
                                }
                                else
                                {
                                    <a class="nav-item px-3" asp-area="" asp-controller="AdminManagment" asp-action="Index">Users</a>
                                }
                            }
                        </div>
                    }
                }
                <div class="col-md-1 my-2">
                @if (@userName != null)
                {
                    @if (controller.Contains("/Main"))
                    {
                        <a class="nav-item px-3" asp-controller="Info" asp-action="Index">Manage</a>
                    }
                    else
                    {
                        <a class="nav-item px-3" asp-area="" asp-controller="Main" asp-action="Index">Main</a>
                    }
                }
                </div>
                <div col-md-3>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @if (@userName != null)
                            {
                                <li class="nav-item px-2 mt-2 text-black-50">
                                    <h7>@userName</h7>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Logout" asp-controller="Signin" class="btn btn-secondary">
                                        Logout
                                    </a>
                                </li>
                            }
                            else
                            {
                                @if (!controller.Contains("/Main"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Main" asp-action="Index">Main</a>
                                    </li>
                                }
                               @*  @if (controller.Contains("/Main"))
                                { 
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Signin" asp-action="Index">СА АУТСОРСИНГ</a>
									</li>
								} *@
                                // убрать после deploy
                                @if (!controller.Contains("/Signin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Signin" asp-action="Index">Signin</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SA/BA Knowledge Base - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>